
.trends {
  float: left;
  width: 20%;
  margin: 1%;
/*  padding: 1%; */
  border: 1px solid black;

}
.trendsinfo {
  color: black;
  font-weight: bold;
  height : 80%;
  overflow: auto;
}
a:hover {
  color: red;
}
.map {
  float: left;
  width: 71%;
  height: 93%;
  margin: 1%;
  padding: 1%;
}
.trendday {
  font-size: x-small;
  color:blue;
}
.trendhour {
  font-size: x-small;
  color:green;
}
